<div class="flex flex-col gap-10 max-w-[1200px] mx-auto px-4 font-light">
  <h1 class="break-877:px-14">О магазине</h1>
  <div>
    <h2>Доставка за 3 часа по г. Алматы и Астана</h2>
    <ul class="list-disc flex flex-col pl-4 gap-4">
      <li>Экспресс доставка действует только по городу Алматы и Нур-Султан</li>
      <li>
        Заказы, оформленные с 9:00 по 18:00, осуществляются в течение 3 часов.
      </li>
      <li>
        Заказы, оформленные за пределами указанного времени, осуществляются на
        следующий день.
      </li>
      <li>Все заказы, стоимостью свыше 30 000 тг. доставляются бесплатно</li>
    </ul>
    <p class="pt-4">
      На все заказы суммой ниже 30 000 тг — стоимость доставки 1 500 тенге.
    </p>
  </div>
  <div>
    <h2>Доставка в городах присутствия магазинов iSpace</h2>
    <ul class="list-disc flex flex-col pl-4 gap-4">
      <li>
        Все заказы, стоимостью свыше 30 000 тг. доставляются бесплатно в
        пределах административных границ городов — Алматы, Нур-Султан,
        Караганда;
      </li>
      <li>
        На все заказы суммой ниже 30 000 тг — стоимость доставки 1 000 тенге.
      </li>
      <li>
        Стоимость доставки в следующие в отдаленные микрорайоны г. Алматы
        рассчитывается по тарифам курьерской службы:
      </li>
    </ul>
    <p class="pt-4 pl-16">
      Медеуский район: мкр. Алатау (Институт ядерной физики), мкр. Бутаковка,
      <br />
      Медео, Чимбулак; Бостандыкский район: ущелье Алмарасан (выше ул.
      Дулати);<br />
      Алатауский район: мкр. Коккайнар; Наурызбайский район: мкр. Карагайлы,<br />
      мкр. Курамыс, мкр. Таусамалы, мкр. Акжар, мкр. Тастыбулак, мкр.
      Таужолы,<br />
      Абайские дачи.
    </p>
  </div>
  <div>
    <h2>Доставка по Казахстану</h2>
    <ul class="list-disc flex flex-col pl-4 gap-4">
      <li>
        Доставка осуществляется на всей территории Республики Казахстан, по
        принципу «до двери» курьерской службой;
      </li>
      <li>
        Сроки доставки курьерской службой зависят от выбранного региона и
        занимают от 2-ух до 7-ми рабочих дней. Точный срок получения товара
        сообщит наш менеджер при подтверждении заказа;
      </li>
      <li>Стоимость доставки по Казахстану — 1 500 тенге;</li>
      <li>
        Перед выездом курьер обязательно свяжется с Вами по контактному
        телефону, чтобы уточнить удобное время получения заказа и детали
        доставки.
      </li>
    </ul>
  </div>
  <div>
    <h2>Самовывоз</h2>
    <ul class="list-disc flex flex-col pl-4 gap-4">
      <li>
        Для получения товара, необходимо предъявить документ удостоверяющий
        личность покупателя, на которого был оформлен заказ и номер заказа;
      </li>
      <li>
        Выдача заказов, оформленных до 12:00 может быть произведена в тот же
        день;
      </li>
      <li>График работы самовывоза совпадает с графиком работы магазинов.</li>
    </ul>
    <p class="pt-4 pl-4">Магазины, в которых доступен самовывоз:</p>
    <p class="pl-16">
      <strong>г. Алматы:</strong>
      <br />
      ТРЦ «Esentai Mall», 2 этаж <br />
      ТРЦ «Dostyk Plaza», 2 этаж
    </p>
    <p class="pl-16">
      <strong>г. Нур-Султан:</strong>
      <br />
      ТРЦ «MEGA Silk Way», 1 этаж <br />
      ТРЦ «Keruen City», 2 этаж <br />
      ТРЦ «Керуен», 1 этаж
    </p>
    <p class="pl-16">
      <strong>г. Караганда: </strong>
      <br />
      ТРЦ «City Mall», 1 этаж
    </p>
    <p class="pl-16">
      <strong>г. Актау:</strong>
      <br />
      ТРЦ «Shum», 1 этаж
    </p>
  </div>
  <div>
    <h2>Оплата</h2>
    <ul class="list-disc flex flex-col pl-4 gap-4">
      <li>Наличными деньгами в пунктах самовывоза;</li>
      <li>Наличными деньгами курьеру, только в г. Алматы;</li>
      <li>
        Онлайн-оплата банковской картой в момент оформления заказа на сайте;
      </li>
      <li>
        Банковской картой через терминал оплаты, в пункте самовывоза или курьеру
        (только в г. Алматы);
      </li>
      <li>Apple Pay;</li>
      <li>Рассрочка или кредит;</li>
      <li>
        Безналичный расчет для юридических лиц. После оформления заказа,
        менеджер высылает счет для оплаты, который действителен в течении трех
        банковских дней.
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-3">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="conditionOfPaymentsOpenState = true"
        (closed)="conditionOfPaymentsOpenState = false"
      >
        <mat-expansion-panel-header
          expandedHeight="70px"
          collapsedHeight="70px"
        >
          <mat-panel-title class="py-3">
            Условия оплаты картой онлайн
          </mat-panel-title>
          <mat-panel-description>
            {{ conditionOfPaymentsOpenState ? "Свернуть" : "Читать подробнее" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="font-light">
          <p>
            Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить
            Услугу банковской картой Visa или Mastercard. После подтверждения
            выбранного Товара либо услуги откроется защищенное окно с платежной
            страницей процессингового центра CloudPayments, где Вам необходимо
            ввести данные Вашей банковской карты. Для дополнительной
            аутентификации держателя карты используется протокол 3-D Secure.
            Если Ваш Банк-эмитент поддерживает данную технологию, Вы будете
            перенаправлены на его сервер для прохождения дополнительной
            идентификации. Информацию о правилах и методах дополнительной
            идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
          </p>
          <p>
            Услуга онлайн-оплаты осуществляется в соответствии с правилами
            Международных платежных систем Visa и MasterCard на принципах
            соблюдения конфиденциальности и безопасности совершения платежа, для
            этого используются самые актуальные методы проверки, шифрования и
            передачи данных по закрытым каналам связи. Ввод данных банковской
            карты осуществляется в защищенном окне на платежной странице
            CloudPayments.
          </p>
          <p>
            В поля на платежной странице требуется ввести номер карты, имя
            владельца карты, срок действия карты, трёхзначный код безопасности
            (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные
            отображены на поверхности банковской карты.
          </p>
          <p>
            CVV2/ CVC2 — это трёхзначный код безопасности, находящийся на
            оборотной стороне карты.
          </p>
          <p>
            Далее в том же окне откроется страница Вашего банка-эмитента для
            ввода 3-D Secure кода. В случае, если у вас не настроен статичный
            3-D Secure, он будет отправлен на ваш номер телефона посредством
            SMS. Если 3-D Secure код к Вам не пришел, то следует обратится в ваш
            банк-эмитент.
          </p>
          <p>
            3-D Secure — это самая современная технология обеспечения
            безопасности платежей по картам в сети интернет. Позволяет
            однозначно идентифицировать подлинность держателя карты,
            осуществляющего операцию, и максимально снизить риск мошеннических
            операций по карте.
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="guaranteesOfPaymentsOpenState = true"
        (closed)="guaranteesOfPaymentsOpenState = false"
      >
        <mat-expansion-panel-header
          expandedHeight="70px"
          collapsedHeight="70px"
        >
          <mat-panel-title>
            Гарантии безопасности онлайн платежей
          </mat-panel-title>
          <mat-panel-description>
            {{
              guaranteesOfPaymentsOpenState ? "Свернуть" : "Читать подробнее"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="font-light">
          <p>
            Процессинговый центр CloudPayments защищает и обрабатывает данные
            Вашей банковской карты по стандарту безопасности PCI DSS 3.0.
            Передача информации в платежный шлюз происходит с применением
            технологии шифрования SSL. Дальнейшая передача информации происходит
            по закрытым банковским сетям, имеющим наивысший уровень надежности.
            CloudPayments не передает данные Вашей карты нам и иным третьим
            лицам. Для дополнительной аутентификации держателя карты
            используется протокол 3-D Secure.
          </p>
          <p>
            В случае, если у Вас есть вопросы по совершенному платежу, Вы можете
            обратиться в службу поддержки клиентов платежного сервиса по
            электронной почте support@cloudpayments.kz.
          </p>
          <p><strong>Безопасность онлайн-платежей</strong></p>
          <p>
            Предоставляемая Вами персональная информация (имя, адрес, телефон,
            e-mail, номер кредитной карты) является конфиденциальной и не
            подлежит разглашению. Данные Вашей кредитной карты передаются только
            в зашифрованном виде и не сохраняются на нашем Web-сервере.
          </p>
          <p>
            Мы рекомендуем вам проверить, что ваш браузер достаточно безопасен
            для проведения платежей онлайн, на специальной странице.
          </p>
          <p>
            Безопасность обработки Интернет-платежей гарантирует ТОО
            «CloudPayments Kazakhstan». Все операции с платежными картами
            происходят в соответствии с требованиями VISA International,
            MasterCard и других платежных систем. При передаче информации
            используются специализированные технологии безопасности карточных
            онлайн-платежей, обработка данных ведется на безопасном
            высокотехнологичном сервере процессинговой компании.
          </p>
          <p>Оплата платежными картами безопасна, потому что:</p>
          <ul class="list-disc pl-4">
            <li>
              Система авторизации гарантирует покупателю, что платежные
              реквизиты его платежной карты (номер, срок действия, CVV2/CVC2) не
              попадут в руки мошенников, так как эти данные не хранятся на
              сервере авторизации и не могут быть похищены.
            </li>
            <li>
              Покупатель вводит свои платежные данные непосредственно в системе
              авторизации CloudPayments, а не на сайте интернет-магазина,
              следовательно, платежные реквизиты карточки покупателя не будут
              доступны третьим лицам.
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="termOfPaymentsOpenState = true"
        (closed)="termOfPaymentsOpenState = false"
      >
        <mat-expansion-panel-header
          expandedHeight="70px"
          collapsedHeight="70px"
        >
          <mat-panel-title> Правила получения и оплаты заказа </mat-panel-title>
          <mat-panel-description>
            {{ termOfPaymentsOpenState ? "Свернуть" : "Читать подробнее" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="font-light">
          <p>
            Если Вы планируете производить оплату в момент выдачи заказа —
            необходимо произвести оплату курьеру или на кассе в пункте
            самовывоза. После проведения оплаты Вам вручат чек и гарантийный
            талон, которые подтверждают факт покупки в интернет-магазине iSpace.
          </p>
          <p>
            При получении заказа обязательно проверьте товар на комплектацию,
            отсутствие повреждений, наличие и правильность заполнения
            сопутствующих документов: чеков, гарантийных талонов, бланков
            доставки, счёт-фактур и актов для организаций.
          </p>
          <p>
            Все претензии к внешнему виду товара, комплектации и количеству
            принимаются до момента передачи товара. После подписания бланка
            доставки, заказ считается выполненным.
          </p>
          <p>
            В случае отсутствия покупателя по адресу доставки курьеры ожидают не
            более 15 минут, после чего уведомляет покупателя об отмене доставки.
            Для повторной доставки вам необходимо обратиться в магазин, где
            совершали покупку.
          </p>
          <p>Повторная доставка оплачивается дополнительно.</p>
          <p>
            Дополнительные услуги по установке ПО и первичному запуску
            устройств, службы доставки — не оказывают. Для этого Вы можете
            выбрать необходимую услугу на сайте или заказать
            онлайн-консультацию.
          </p>
          <p>
            В соответствии с Законом РК «О внесении изменений и дополнений в
            некоторые законодательные акты Республики Казахстан по вопросам
            развития бизнес-среды и регулирования торговой деятельности»,
            Согласно Закону РК «О защите прав потребителей» (ст. 30 п.1), мы не
            производим возврат/обмен товаров входящих в исключительный список:
            абонентские устройства сотовой связи (мобильные телефоны, планшеты,
            детские часы, Wi-Fi роутеры и другие устройства с поддержкой
            SIM-карт).
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
