<div class="mt-10 max-w-[1200px] mx-6">
  <div
    class="grid grid-cols-2 break-877:grid-cols-1 max-w-[1200px] mx-auto gap-6"
  >
    <div
      class="h-full w-full flex flex-col gap-6 rounded-xl card-background py-10 px-20"
    >
      <img
        class="max-w-[50px]"
        src="https://help.apple.com/assets/6244FAE306105F59610362FB/6335B1E6236552477B5455E8/pl_PL/edf6f691d463be51741b88f6699c9e05.png"
        alt="apple logo"
      />
      <p class="text-3xl font-extrabold">Ваши данные под защитой.</p>
      <p class="text-lg">
        iPhone создан для защиты вашей безопасности. Он позволяет вам
        контролировать, какой информацией и с кем вы делитесь.
      </p>
    </div>
    <div
      class="h-full w-full flex flex-col gap-6 rounded-xl card-background py-10 px-20"
    >
      <img
        class="max-w-[50px]"
        src="https://www.clipartmax.com/png/middle/168-1689299_apple-green-apple-logo-transparent.png"
        alt="apple logo"
      />
      <p class="text-3xl font-extrabold">Apple предлагает такой план.</p>
      <p class="text-lg">
        К 2030 году нейтральный углеродный след будет у всех продуктов Apple — а
        значит, и у всех, кто ими пользуется.
      </p>
    </div>
    <div
      class="h-full w-full flex flex-col gap-6 rounded-xl card-background py-10 px-20"
    >
      <img
        class="max-w-[50px]"
        src="https://img.favpng.com/24/3/5/clip-art-iphone-logo-graphic-design-vector-graphics-png-favpng-QB4mUMC7neGFr9WfgvXThAjZD.jpg"
        alt="apple logo"
      />
      <p class="text-3xl font-extrabold">Обновляете модель iPhone?</p>
      <p class="text-lg">
        Просто положите ваш старый iPhone рядом с новым — несколько касаний, и
        все данные будут автоматически перенесены.
      </p>
    </div>
    <div
      class="h-full w-full flex flex-col gap-6 rounded-xl card-background py-10 px-20"
    >
      <img
        class="max-w-[50px]"
        src="https://img.icons8.com/ios/512/ios-logo.png"
        alt="iOS logo"
      />
      <p class="text-3xl font-extrabold">
        Перейти с Android на iPhone очень просто.
      </p>
      <p class="text-lg">
        При покупке нового iPhone вы легко перенесёте на него свои фото,
        контакты и другой контент с помощью приложения «Перенос на iOS».
      </p>
    </div>
  </div>
  <div
    class="mt-6 h-full w-full flex items-center justify-between break-877:flex-col gap-6 rounded-xl card-background py-10 px-20"
  >
    <div>
      <p class="text-lg">Аксессуары MagSafe</p>
      <p class="text-3xl font-extrabold">MagSafe на любой вкус.</p>
      <p class="text-lg">
        Один момент — и на месте. Плюс быстрая беспроводная зарядка.
      </p>
    </div>
    <img
      class="max-h-[300px]"
      src="https://cdn0.ipoint.kz/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fill:540/bg:f6f6f6/q:100/plain/s3://catalog-products/220908083550765075/221010160048866760.png@webp"
      alt="phones image"
    />
  </div>
  <div class="w-full h-[150px] mt-10 flex items-center card-background">
    <div class="max-w-[1200px] mx-6">
      <h2>Основные характеристики:</h2>
    </div>
  </div>

  <div class="mt-10 max-w-[1200px] mx-6 flex justify-center flex-col">
    <img
      src="../../../../../assets/chracteristics 14ProMax.png"
      alt="characteristics image"
    />
  </div>

  <div class="mt-10 max-w-[1200px] mx-6 flex justify-center flex-col">
    <img
      src="../../../../../assets/iphone-characteristics.png"
      alt="characteristics image"
    />
  </div>

  <div
    class="mt-10 max-w-[1200px] mx-6 flex justify-center flex-col font-light"
  >
    <p>Юридическая информация</p>
    <p>Яркость дисплея. По сравнению с моделями предыдущего поколения.</p>
    <p>
      Защита от брызг, воды и пыли. iPhone 14 Pro и iPhone 14 Pro Max устойчивы
      к воздействию брызг, воды и пыли и протестированы в специально
      поддерживаемых лабораторных условиях. Устройства имеют рейтинг IP68 по
      стандарту IEC 60529 (допускается погружение в воду на глубину до 6 метров
      длительностью до 30 минут). Устойчивость к воздействию брызг, воды и пыли
      может снижаться при естественном износе. Не пытайтесь заряжать мокрый
      iPhone: протрите и высушите его согласно инструкциям в руководстве
      пользователя. Повреждение в результате контакта с жидкостью не покрывается
      гарантией.
    </p>
    <p>
      Дисплей. Дисплей представляет собой прямоугольник с закруглёнными углами.
      Диагональ этого прямоугольника без учёта закруглений составляет 6,06 дюйма
      (для iPhone 14), 6,68 дюйма (для iPhone 14 Plus), 6,12 дюйма (для iPhone
      14 Pro) или 6,69 дюйма (для iPhone 14 Pro Max). Фактическая область
      просмотра меньше.
    </p>
    <p>
      FaceTime. Для связи по FaceTime у всех пользователей должны быть
      устройства с поддержкой FaceTime и подключение к сети Wi‑Fi. Доступность
      FaceTime по сотовой сети зависит от условий оператора связи; может
      взиматься плата за передачу данных.
    </p>
    <p>
      Распознавание аварии. Для работы функции «Экстренный вызов — SOS»
      требуется подключение к сотовой сети или поддержка вызовов по Wi‑Fi.
    </p>
    <p>Разрешение камеры. По сравнению с моделями предыдущего поколения.</p>
    <p>Скорость процессора. По сравнению с моделями предыдущего поколения.</p>
    <p>
      Питание и аккумулятор. Все заявленные характеристики аккумулятора зависят
      от настроек сотовой сети и многих других факторов; фактическое время
      работы может не совпадать с указанным. Аккумулятор допускает ограниченное
      число циклов зарядки. По прошествии некоторого времени может потребоваться
      его замена. Время работы от аккумулятора и число циклов зарядки зависят от
      настроек и характера использования устройства. Подробнее на страницах
      <strong
        ><a href="https://apple.com/batteries">apple.com/batteries</a></strong
      >
      и
      <strong>
        <a href="http://apple.com/iphone/battery.html"
          >apple.com/iphone/battery.html</a
        >.</strong
      >
    </p>
    <p>
      Доступность функций. Некоторые функции могут быть доступны не во всех
      странах и регионах.
    </p>
    <p>
      Сотовая и беспроводная связь. Требуется тарифный план передачи данных.
      Сети 5G доступны не во всех регионах и не у всех операторов связи.
      Скорость зависит от местных условий и оператора связи. Подробную
      информацию о поддержке 5G можно получить у вашего оператора связи или на
      странице
      <strong
        ><a href="https://apple.com/iphone/cellular"
          >apple.com/iphone/cellular</a
        >.</strong
      >
    </p>
    <p>Аксессуары с поддержкой MagSafe. Аксессуары продаются отдельно.</p>
    <div class="border-2 p-2 mt-5">
      <p>
        Все технические описания на нашем сайте базируются на основании
        информации, взятой только из официальных источников, в том числе с
        официальных сайтов производителей, достоверность которых не вызывает у
        нас сомнения.
      </p>
      <p>
        К сожалению, даже официальные документы могут содержать ошибки и
        опечатки – это не позволяет нам утверждать, что абсолютно все указанные
        нами данные о товаре точны и соответствуют действительности. Практически
        все производители оставляют за собой право вносить изменения в
        характеристики или комплектацию товара без предварительного уведомления.
      </p>
      <p>
        Мы настоятельно рекомендуем пользоваться опубликованной информацией в
        качестве основного обзора товара, и при совершении покупки уточнять
        параметры, имеющие для Вас большую значимость, у продавца.
      </p>
    </div>
  </div>
</div>
