<div class="flex flex-col gap-10 max-w-[1200px] mx-auto px-4">
  <div><h1 class="">Контакты</h1></div>
  <div class="text-center">
    <h1>Адреса и контактные номера наших магазинов</h1>
  </div>
  <div class="flex justify-between break-877:flex-col gap-2 font-light">
    <div>
      <h3>Интернет-магазин</h3>
      <p class="underline">К вниманию покупателя:</p>
      <p>Интернет-магазин работает без выходных с 09:00 до 21:00</p>
      <p>+7 747 095 1517</p>
    </div>
    <div>
      <h3>Магазины в ТРЦ</h3>
      <p>
        Магазины работают в будние дни и выходные дни. График работы магазинов -
        с 10:00 до 22:00.
      </p>
      <p>г. Алматы:</p>
      <p>+7 701 813 96 67 — ТРЦ Esentai Mall, 2 этаж</p>
      <p>г. Астана:</p>
      <p>+7 701 532 31 70 — ТРЦ Keruen City, 2 этаж</p>
      <p>г. Караганда:</p>
      <p>+7 701 779 11 09 — ТРЦ City Mall, 1 этаж</p>
      <p>г. Актау:</p>
      <p>+7 701 428 16 83 — ТРЦ Shum, 1 этаж</p>
    </div>
    <div>
      <h3>Контактные номера офиса ТОО ASBC KAZAKHSTAN</h3>
      <p>Отдел корпоративных продаж работает в будние дни с 9:00 до 18:00</p>
      <p>Илья – +7 701 428 07 17</p>
      <p>Дулат – +7 701 302 94 89</p>
      <p>Абдулла – +7 701 643 48 40</p>
      <p>Анар – +7 701 631 1324</p>
    </div>
  </div>
</div>
