<div
  class="flex gap-10 flex-col max-w-[333px] p-4 card-border hover:scale-110 duration-300 cursor-pointer"
>
  <div class="flex gap-4">
    <ngx-skeleton-loader
      [theme]="{ width: '70px', 'margin-right': '20px' }"
      count="2"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
  <div class="self-center">
    <ngx-skeleton-loader
      [theme]="{ width: '150px', height: '250px' }"
      count="1"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
  <div>
    <ngx-skeleton-loader
      [theme]="{ width: '100%', height: '30px' }"
      count="1"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '45%', height: '20px' }"
      count="1"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
  <div class="flex flex-col">
    <ngx-skeleton-loader
      [theme]="{ width: '50px', height: '15px' }"
      count="1"
      appearance="line"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader
      [theme]="{ width: '100px', height: '25px' }"
      count="1"
      appearance="line"
    ></ngx-skeleton-loader>
  </div>
  <div class="flex justify-between w-full">
    <div class="w-4/5">
      <ngx-skeleton-loader
        [theme]="{ width: '150px', height: '15px' }"
        count="1"
        appearance="line"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [theme]="{ width: '110px', height: '15px' }"
        count="1"
        appearance="line"
      ></ngx-skeleton-loader>
    </div>
    <div class="">
      <ngx-skeleton-loader
        [theme]="{ width: '60px', height: '60px' }"
        count="1"
        appearance="circle"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
