<div class="flex flex-col gap-10 max-w-[1200px] mx-auto px-4">
  <h1 class="break-877:px-14">О магазине</h1>
  <div
    class="flex justify-center gap-10 max-w-[1200px] mx-auto break-877:flex-col"
  >
    <div>
      <ul class="w-[320px] overflow-scroll flex flex-col gap-6 break-877:px-14">
        <li class="flex flex-col">
          <h2>г. Астана ТРЦ «Keruen city»</h2>
          <p class="flex items-center gap-2">
            <mat-icon> location_on</mat-icon>Коргалжинское ш., д. 1, 2-ой этаж
          </p>
          <p class="flex items-center gap-2">
            <mat-icon> phone</mat-icon>+7 7172 578233
          </p>
          <p class="flex items-center gap-2">
            <mat-icon>av_timer</mat-icon>Пн – Вс: 10:00 – 22:00
          </p>
          <a href="https://yandex.ru"></a>
        </li>
        <li class="flex flex-col">
          <h2>г. Караганда ТРЦ «Сity mall»</h2>
          <p class="flex items-center gap-2">
            <mat-icon> location_on</mat-icon>Пр. Бухар жырау 59/2, 1-ый этаж
          </p>
          <p class="flex items-center gap-2">
            <mat-icon> phone</mat-icon>+7 7212 910725
          </p>
          <p class="flex items-center gap-2">
            <mat-icon>av_timer</mat-icon>Пн – Вс: 10:00 – 22:00
          </p>
          <a href="https://yandex.ru"></a>
        </li>
        <li class="flex flex-col">
          <h2>г. Актау ТРЦ «ШУМ»</h2>
          <p class="flex items-center gap-2">
            <mat-icon> location_on</mat-icon>мкр 4, 74, 1-ый этаж
          </p>
          <p class="flex items-center gap-2">
            <mat-icon> phone</mat-icon>+7 701 428 16 83
          </p>
          <p class="flex items-center gap-2">
            <mat-icon>av_timer</mat-icon>Пн – Вс: 10:00 – 21:00
          </p>
          <a href="https://yandex.ru"></a>
        </li>
        <li class="flex flex-col">
          <h2>г. Алматы ТРЦ «Dostyk plaza»</h2>
          <p class="flex items-center gap-2">
            <mat-icon> location_on</mat-icon>Мкр. Самал-2, 111, 2-ой этаж
          </p>
          <p class="flex items-center gap-2">
            <mat-icon> phone</mat-icon>+7 701 984-51-08
          </p>
          <p class="flex items-center gap-2">
            <mat-icon>av_timer</mat-icon>Пн – Вс: 10:00 – 22:00
          </p>
          <a href="https://yandex.ru"></a>
        </li>
      </ul>
    </div>
    <div>
      <img
        src="../../../../assets/store_map.png"
        alt="map image"
        class="max-w-full"
      />
    </div>
  </div>
  <div>
    <h3>
      iSpace (айСпейс) – официальный партнёр компании Apple в Республике
      Казахстан со статусом Apple Premium Partner.
    </h3>
    <p class="font-light">
      Статус Apple Premium Partner даётся только профессионалам в своём деле.
    </p>
    <p class="font-light">
      В наших магазинах можно не только купить iPhone, компьютер Mac или планшет
      iPad, а также другую технику Apple и аксессуары для неё. iSpace – это
      прежде всего место, пропитанное атмосферой Apple, в котором вам помогут с
      выбором техники, научат ей пользоваться, дадут советы по эксплуатации
      ваших гаджетов и предложат качественные аксессуары.
    </p>
    <p class="font-light">
      В iSpace можно поработать с любым Mac, iPhone или с iPad, посмотреть
      демонстрации недавно появившихся в продаже продуктов Apple или принять
      участие в тренингах, мастер-классах и мероприятиях, посвящённых новейшим
      технологиям. Мы знаем о продуктах Apple всё. И мы готовы поделиться
      знаниями.
    </p>
    <p class="font-light">
      Наши продавцы — настоящие эксперты в своей области. А качественная,
      удобная, простая в использовании техника Apple доставляет удовольствие
      своим пользователям и практически не требует технической поддержки
    </p>
    <p class="font-light">
      В нашем магазине вы всегда купите все, что вам нужно.
    </p>
  </div>
</div>
